
 
 h1 
 {
  color : red ;
  font-weight: 400;
    font-style: normal;
    
    text-shadow: 5px 5px 15px rgba(255,0,0,0.7);
 }
 
 


 

body 
{
  background-color: #e8cbc0; 
  background-attachment: fixed ;
  color: black; 
}
  
  background-color: #FCFFA6 ;  }